
body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
  background-color: #FE5656;
}

.header-left {
  height: 40px;
  width:180px;
  background-color: white;
  margin: 10px 35px;
  float: left;
  border-radius: 10px;
}

.header-left a {
  height: 40px;
  width:180px;
  display: inline-block;
}

.header-logo {
  padding:0px 20px;
  height: 40px;
}

.header-right {
  float: right;
  font-weight: bold;
  color: white;
}

.header-right a {
  display: inline-block;
  line-height: 60px;
  color:white;
  font-size: 20px;
  margin:0px 10px;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color:black;
}

.footer-left {
  float:left;
}

.footer-logo {
  margin: 10px 35px;
  height:30px
}

.footer-right {
  float: right;
  color: black;
  font-size: 16px;
}

.footer-title {
  font-weight: bold;
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 40px;
  margin: 10px 0px;
}

.heading h2 {
  font-size: 25px;
  text-align: center;
}

/* ============= 共通レイアウト ============= */
.assist-msg {
  text-align: right;
}

.assist-msg a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.time {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  background-color: rgba(196, 196, 196, 0.3);
  font-weight: normal;
}

.main-content {
  width: 100%;
}

.left-content {
  float: left;
  width: 50%;
}

.fa-square {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.preparations {
  width: 100%;
}

.preparations p {
  color: rgba(0, 0, 0, 0.8);
}

.members {
  text-align: left;
  width: 100%;
}

.members h2 {
  font-size: 25px
}

.member {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.member p {
  font-size: 20px;
}

.fa-user-circle {
  height: 80%;
  margin-right: 10px;
}

.right-content {
  width: 50%;
  float:right;
}

.chatbox {
  height:600px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.chatbox img {
  width:70%;
}

.chat-icon {
  height: 50px;
  margin:10px;
}

input-area {
  height: 100px;
}

.input-area p {
  float: left;
}

.input-area img {
  height 20px;
  float: right;
}

.clear {
  clear: both;
}
