/* ========== common layout ========== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
  background-color: #FE5656;
}

.header-left {
  height: 40px;
  width:180px;
  background-color: white;
  margin: 10px 35px;
  float: left;
  border-radius: 10px;
}

.header-left a {
  height: 40px;
  width:180px;
  display: inline-block;
}

.header-logo {
  padding:0px 20px;
  height: 40px;
}

.header-right {
  float: right;
  font-weight: bold;
  color: white;
}

.header-right a {
  display: inline-block;
  line-height: 60px;
  color:white;
  font-size: 20px;
  margin:0px 10px;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color:black;
}

.footer-left {
  float:left;
}

.footer-logo {
  margin: 10px 35px;
  height:30px
}

.footer-right {
  float: right;
  color: black;
  font-size: 16px;
}

.footer-title {
  font-weight: bold;
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 40px;
  margin: 10px 0px;
}

.heading h2 {
  font-size: 25px;
  text-align: center;
}

/* ============= lesson_standby layout ============= */
.assist-msg {
  text-align: right;
  margin:10px;
}

.assist-msg a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-right: 10px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.time {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  background-color: rgba(196, 196, 196, 0.3);
  font-weight: normal;
}

.main-content {
  width: 100%;
  margin-bottom: 30px;
}

.left-content {
  float: left;
  width: 50%;
}

.fa-square {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.preparations {
  width: 100%;
}

.preparations p {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 10px;
  margin-bottom: 10px;
}

.members {
  text-align: left;
  width: 70%;
  margin-right: 10px;
}

.members h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
}

.member {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 40px;
}

.member p {
  font-size: 15px;
}

.user-icon {
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.right-content {
  width: 50%;
  float: right;
}


.icon {
  float: left;
  width: 20%;
  padding:10px;
  text-align: center;
}

.chat-icon {
  font-size: 30px;
}

.chatbox {
  height:300px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.chatbox img {
  float: left;
  width:50%;
  margin:10px;
}

.input-area {
  padding: 20px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.input-area p {
  float: left;
}

.input-area img {
  height: 20px;
  float: right;
}

.clear {
  clear: left;
  clear: right;
}
