/* 共通レイアウト */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
  background-color: #FE5656;
}

.header-left {
  height: 40px;
  width:180px;
  background-color: white;
  margin: 10px 35px;
  float: left;
  border-radius: 10px;
}

.header-left a {
  height: 40px;
  width:180px;
  display: inline-block;
}

.header-logo {
  padding:0px 20px;
  height: 40px;
}

.header-right {
  float: right;
  font-weight: bold;
  color: white;
}

.header-right a {
  display: inline-block;
  line-height: 60px;
  color:white;
  font-size: 20px;
  margin:0px 10px;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color:black;
}

.footer-left {
  float:left;
}

.footer-logo {
  margin: 10px 35px;
  height:30px
}

.footer-right {
  float: right;
  color: black;
  font-size: 16px;
}

.footer-title {
  font-weight: bold;
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 40px;
  margin: 10px 0px;
}

.heading h2 {
  font-size: 25px;
  text-align: center;
}

/*

/* top layout */
.lessons {
  text-align: center;
}

.lesson {
  float: left;
  width: 33.3%;
}

.clear {
  clear:left;
}

.lesson img {
  width:70%;
}

.cal_wrapper {
  width: 100%;
}

.googlecal {
  width: 100%;
}

.googlecal iframe {
  display: block;
  height: 400px;
  text-align: center;
  margin: 0px auto;
}

.class {
  width:33.3%;
  float:left;
}

.class img {
  margin: 10px;
  width: 80%;
}
